<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>anchorMobileChallenge.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ED41C13922A9FC150056EE02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED41C14D22A9FC170056EE02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED41C15822A9FC170056EE02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
